spring:
  profiles:
    active: dev
  jpa:
    generate-ddl: true
    hibernate:
      ddl-auto: update

  datasource:
    url: jdbc:postgresql://localhost:5432/lab2
    username: postgres
    password: qwerty12
    driver-class-name: org.postgresql.Driver